# See http://help.github.com/ignore-files/ for more about ignoring files

# Compiled output
/dist
/out-tsc
/tmp

# Only exists if Bazel was run
/bazel-out

# Dependencies
/node_modules

# Profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
*.launch
*.sublime-workspace
.c9/
.classpath
.history/*
.project
.settings/
/.idea

# vscode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode/*

# Miscellaneous
.DS_Store
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
Thumbs.db
npm-debug.log
testem.log
yarn-error.log
